body {
    font-family: Roboto, sans-serif ;

    }
ul {
list-style: none;
}
:root {
---main-btn-color: #212121;
---second-btn-color:#2196F3;
---main-title-color:#212121;
---second-title-color: #757575;
---third-title-color:#FFFFFF;
}
.text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(---second-title-color);
}
.text1 {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(---main-btn-color);
}
.header-link {
    font-family: "Relaway" sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-decoration: none;
}

.header-item {
    color: var(---main-btn-color);
}
.header-link1 {
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(---second-btn-color);
}

.header-contacts  {
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #212121;
}
.header-link:hover  {
    color: #2196F3;
}
.header-link:focus {
    color: #2196F3;
}
.header-contact {
    color: #757575;
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}
.header-link2 {
    font-family: Roboto sans-serif;
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(---main-title-color)
}
.header-link3 {
    font-family: Roboto sans-serif;
    color: #2196F3;
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}
.header-link2:hover .header-link2:hover {
    color: #2196F3;
}

.header-link2:focus .header-link2:focus  {
    color: #2196F3;
}
body {
    background-color: #FFFF;
}
.hero {
    background-color: #2F303A;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
}
.hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
}
.hero-btn {
    background-color: #2196F3;
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    
}
.hero-btn:hover {
    background-color: #188CE8;
}

.work-what {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    color: #212121;
}
.about2 {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;   
    color: #212121;
}
.about-work {
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: #757575;
    list-style: none;
}
.name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    color: #212121;
}
.about-us{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;    
    color: #212121;
}
.about1-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.03em;
    color: #212121;
}
.about-us {
    background-color: #F5F4FA;
}
.about {
    font-weight: 400;
    font-size:16px;
    line-height:1.88;
    letter-spacing:0.03em;
    color: #757575;
}
.about1-link {
    list-style: none;
}
.about2 {
    list-style: none;
}

.button-all {
    background-color: #F5F4FA;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;
    color: #212121;
    
}
.button-all-main {
    background-color: #2196F3;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    list-style: none;
}

.contacts {
    background-color: #2F303A;
    text-decoration: none;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #2196F3;
}
.adress {
    list-style: none;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}
.address-list {
    font-family: "Relaway" sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-decoration: none;
    text-decoration: none;
}
.adress-link {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    text-decoration: none;
}

.adress-link2 {
    font-style: normal;
    color: #757575;
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}
/* Цвет основного текста color: #212121; */
/* вторичный цвет текста color: #757575; */
/* белый color: #FFFFFF; */
/* акцент  color: #2196F3; */
/* вторичный цвет фона #2F303A */
